/* .con-main{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 200px;
    background-color: wheat;
}
.con-main .con{
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100px;
    background-color: green;
}
.con-main .con .box{
   position: absolute;
   z-index: 1;
    width: 20%;
    height: 70px;
    background-color: blue;
}
p{
    position: absolute;
    z-index: -1;
} */
.con{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: blue;
}
.con .box1{
    z-index: 3;
    position: absolute;
    width: 10%;
    height: 50px;
    background-color: rgb(0, 255, 34);
}
.con .box2{
    z-index: 2;
    position: absolute;
    width: 20%;
    height: 50px;
    background-color: rgb(0, 0, 0);
}
.con .box3{
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 50px;
    background-color: rgb(255, 0, 212);
}